<div class="container" >
    <div class="manage">
      <button class="button edit" (click)="onEditRecipe()"><fa-icon [icon]="faPenToSquare"></fa-icon>  Edit</button>
      <button class="button delete" (click)="onDeleteRecipe()"><fa-icon [icon]="faTrash"></fa-icon>  Delete</button>
    </div>
    <div class="recipeName">
      <h3>{{ recipeDetail.name }}</h3>
    </div>
    <div class="recipepic">
        <img [src]="recipeDetail.imageURL" alt="{{ recipeDetail.name }}" class="img-responsive" style="max-height: 300px;">
    </div>
    <div class="details">
        <div class="time-servings">
          <p>COOK TIME</p>
          <p>{{ recipeDetail.cookTime }}</p>
        </div>
        <div class="time-servings">
          <p>SERVINGS</p>
          <p>{{ recipeDetail.servings }}</p>
        </div>
        <div class="time-servings">
          <p>TYPE</p>
          <p>{{ recipeDetail.recipeType }}</p>
        </div>
    </div>
    <div class="recipeDesc">
      <h5>Description</h5>
      <div class="description">{{ recipeDetail.description }}</div>
    </div>
  <!-- <div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" appDropdown>Manage Recipe</button>
        <ul class="dropdown-menu">
          <li><a (click)="addToShoppingList()">Add to Shopping list</a></li>
           <li><a (click)="onEditRecipe()">Edit Recipe</a></li>
            <li><a (click)="onDeleteRecipe()">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  -->
  <div class="ingredient">
    <div class="header" *ngIf="recipeDetail.ingredients.length !== 0">
      <h5>Ingredients</h5>
    </div>
        <ul class="">
          <li *ngFor="let ingredient of recipeDetail.ingredients">
              {{ ingredient.name }} - {{ ingredient.quantity }}
          </li>
        </ul>
    </div>
    <div class="header" *ngIf="recipeDetail.ingredients.length !== 0">
      <button class="button addSL" (click)="addToShoppingList()"><fa-icon [icon]="faRectangleList"></fa-icon>  Add to Shopping List</button>
    </div>
  </div>
